<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <extensions>
        <behaviorExtensions>
          <add name="serviceKeyBehavior" type="QMSViewer.ServiceSupport.ServiceKeyBehaviorExtensionElement, QMSViewer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ServiceKeyEndpointBehavior">
            <serviceKeyBehavior/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding  name="BasicHttpBinding_IQMS"
                          allowCookies="true"
                          maxReceivedMessageSize="20000000"
                          maxBufferSize="20000000"
                          maxBufferPoolSize="20000000">
                  <readerQuotas maxDepth="32"
                          maxArrayLength="200000000"
                        maxStringContentLength="200000000"/>
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS1"
                          allowCookies="true"
                          maxReceivedMessageSize="20000000"
                          maxBufferSize="20000000"
                          maxBufferPoolSize="20000000">
                  <readerQuotas maxDepth="32"
                          maxArrayLength="200000000"
                        maxStringContentLength="200000000"/>
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService"
                          allowCookies="true"
                          maxReceivedMessageSize="20000000"
                          maxBufferSize="20000000"
                          maxBufferPoolSize="20000000">
                  <readerQuotas maxDepth="32"
                          maxArrayLength="200000000"
                        maxStringContentLength="200000000"/>
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService1"
                          allowCookies="true"
                          maxReceivedMessageSize="20000000"
                          maxBufferSize="20000000"
                          maxBufferPoolSize="20000000">
                  <readerQuotas maxDepth="32"
                          maxArrayLength="200000000"
                        maxStringContentLength="200000000"/>
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ushdc0154:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSAPI.IQMS"
                name="BasicHttpBinding_IQMS" behaviorConfiguration="ServiceKeyEndpointBehavior"/>
            <endpoint address="http://ushdc0154:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS1" contract="QMSAPI.IQMS1"
                name="BasicHttpBinding_IQMS1" />
            <endpoint address="http://ushdc0154:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPI.IQTService"
                name="BasicHttpBinding_IQTService" />
            <endpoint address="http://ushdc0154:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService1" contract="QMSAPI.IQTService1"
                name="BasicHttpBinding_IQTService1" />
        </client>
    </system.serviceModel>
</configuration>